@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.active-link {
  color: #47ccc8;
  font-weight: bold;
}

.loading-indicator:before {
  content: "";
  background: #00000080;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.loading-indicator:after {
  content: " ";
  position: fixed;
  top: 40%;
  left: 45%;
  z-index: 10010;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #0474bf; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
/* TailwindCSS custom media query for A4 printing */
@media print {
  @page {
    size: A5;
    margin: 5mm; /* Further reduced margin */
  }

  /* Adjust content layout for printing */
  .print-content {
    display: block;
    page-break-before: always;
    font-size: 8px; /* Further reduced font size for a compact layout */
  }

  .print-content .symptoms-section {
    width: 15%; /* 1/4 width for Symptoms */
    float: left;
    padding-right: 5px;
    padding-bottom: 5px;
    border-right: 1px solid #ccc; /* Border to separate symptoms */
    margin-bottom: 10px;
  }

  .print-content .rx-section {
    width: 70%; /* 3/4 width for Rx */
    float: left;
    padding-left: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
  }

  /* Reset other content to take full width for printing */
  .print-content .full-width {
    width: 100%;
    clear: both;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .print-content .text-center {
    text-align: center;
    margin-top: 3px;
  }

  /* Hide elements that are not needed for printing */
  .hidden-on-print {
    display: none;
  }

  /* Reduce line height and margins for paragraphs */
  .print-content p,
  .print-content li {
    margin-bottom: 3px;
    line-height: 1.1;
  }

  /* Reduce space between lists */
  .print-content ul {
    margin-top: 3px;
    margin-bottom: 3px;
  }

  /* Adjust styles for header sections */
  .print-content h3 {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 10px; /* Reduced font size for headers */
  }

  /* Optional: adjust page height for long sections */
  .print-content .long-section {
    margin-bottom: 5px;
    line-height: 1;
  }

  /* Print Button Visibility */
  .hidden-on-print {
    display: none;
  }
}
